<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%SystemDrive%\python\Scripts\python.exe"
                      arguments="%SystemDrive%\home\site\wwwroot\app.py"
                      stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log"
                      startupTimeLimit="60">
            <environmentVariables>
                <environmentVariable name="FLASK_APP" value="your_app_name:app" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
